@model IOrderedEnumerable<RobofestWTE.Models.TeamDataModel>

@{
    ViewBag.Title = "Index";
}
<body>
    <h2>Team Management</h2>

    <table class="table table-hover">
        <tr style="font-size:20px">
            <th style="background-color:#ffffff">
                Team #
            </th>
            <th style="background-color:#ffffff">
                Team Name
            </th>
            <th style="background-color:#ffd1ba">
                R1 Score
            </th>
            <th style="background-color:#ffd1ba">
                R1 Time
            </th>
            <th style="background-color:#fffaba">
                R2 Score
            </th>
            <th style="background-color:#fffaba">
                R2 Time
            </th>
            <th style="background-color:#ffffff">
                Average
            </th>
            <th style="background-color:#ffffff">
                Options
            </th>
        </tr>
        @{
            int i = 0;
        }
        @foreach (var teamDataModel in Model)
        {
            i++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => teamDataModel.TeamNumberBranch)-@teamDataModel.TeamNumberSpecific
                </td>
                <td>
                    @Html.DisplayFor(modelItem => teamDataModel.TeamName)
                </td>
                <td style="background-color:#ffd1ba">
                    @Html.DisplayFor(modelItem => teamDataModel.Round1Score)
                </td>
                <td style="background-color:#ffd1ba">
                    @Html.DisplayFor(modelItem => teamDataModel.Round1Time)
                </td>
                <td style="background-color:#fffaba">
                    @Html.DisplayFor(modelItem => teamDataModel.Round2Score)
                </td>
                <td style="background-color:#fffaba">
                    @Html.DisplayFor(modelItem => teamDataModel.Round2Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => teamDataModel.RoundAverage)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = teamDataModel.TeamID })
                </td>
            </tr>
        }

    </table>
   
</body>