@model RobofestWTECore.Models.ViewModels.ManageUserViewModel

@{
    ViewBag.Title = "Users";
}
<style>
    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
    }

    .textoverlay {
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
        background-color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>
    <body>
        @if(Model.roleSpecificPage == true)
        {
            <div id="adduserstocomp" style="display:none" class="overlay">
                <div class="textoverlay" style="padding:50px;text-align:center">

                    <h1>Add Users to Competition</h1>
                    <br />
                    <div style="overflow:auto;height:400px;background-color:lightcyan">
                        <table width="100%">
                            @foreach(var user in Model.nonUsers.OrderBy(x => x.Username))
                            {
                                <tr style="border-bottom:1px dashed black">
                                    <td width="15%">
                                        <input type="checkbox" style="width:20px;height:20px;padding:5px;font-size:20px;margin:10px" id="@user.UUID" class="userselect"/>
                                    </td>
                                    <td width="85%">
                                        <span style="font-size:20px;font-weight:600;margin:10px">@user.Username</span>
                                    </td>
                                </tr>
                            }
                        
                        </table>
                    </div>
                    <input type="button" style="background-color:lime" value="Add Selected Users" id="addselectedusers"/>
                </div>
            </div>
            <input type="button" id="addusers" value="Add Users"/>
        }
        <input type="button" id="generate" value="Generate Accounts"/>
        <h2>Volunteer Role Management</h2>

        <table class="table table-hover">
            <tr style="font-size:20px">
                <th style="background-color:#ffffff">
                    Username
                </th>
                <th style="background-color:#ffffff">
                    Role(s)
                </th>
                <th>
                    Add or Remove
                </th>
                <th>
                    Delete?
                </th>
            </tr>

            @foreach (var user in Model.roleSpecificUsers.OrderBy(x => x.UserName))
            {

                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td id="@user.UserName" class="@user.UserName">
                        @{
                            int i = 0;
                        }
                        @foreach (var role in user.Roles)
                        {
                            i++;
                            if (role == "Judge")
                            {
                                <span style="background-color:blue;color:white;padding:3px;border-radius:2px;margin-bottom:10px;font-size:10px">Judge</span>
                            }
                            else if (role == "FieldStaff")
                            {
                                <span style="background-color:cornflowerblue;color:white;padding:3px;border-radius:2px;margin-bottom:10px;font-size:10px">Field Staff</span>
                            }
                            else if (role == "Manager")
                            {
                                <span style="background-color:darkorchid;color:white;padding:3px;border-radius:2px;margin-bottom:10px;font-size:10px">Management</span>
                            }
                            else if (role == "Admin")
                            {
                                <span style="background-color:deeppink;color:white;padding:3px;border-radius:2px;margin-bottom:10px;font-size:10px">Admin</span>
                            }
                            else if (role == "Main")
                            {
                                <span style="background-color:orange;color:white;padding:3px;border-radius:2px;margin-bottom:10px;font-size:10px">Main Account</span>
                            }
                            else if (role == "Tech")
                            {
                                <span style="background-color:hotpink;color:white;padding:3px;border-radius:2px;margin-bottom:10px;font-size:10px">Website Manager</span>
                            }
                            else if (role == "Locked")
                            {
                                <span style="border:2px red dashed;color:red;padding:3px;border-radius:2px;margin-bottom:10px;font-size:10px">Locked</span>
                            }

                        }
                        @if (i == 0)
                        {
                            <span style="background-color:lightgray;color:black;padding:3px;border-radius:2px">Student / Spectator</span>
                        }
                    </td>
                    <td>
                        <button type="button" class="judge" id="@user.UserID" value="@user.UserName">Judge</button>
                        <button type="button" class="manager" id="@user.UserID" value="@user.UserName">Manager</button>
                        <button type="button" class="fieldstaff" id="@user.UserID" value="@user.UserName">Field Staff</button>
                        <button type="button" class="admin" id="@user.UserID" value="@user.UserName">Admin</button>
                        <button type="button" class="tech" id="@user.UserID" value="@user.UserName">Website Manager</button>
                        <button type="button" class="banned" id="@user.UserID" style="background-color:palevioletred" value="@user.UserName">Lock Out</button>
                    </td>
                    <td>
                        <button type="button" class="remove btn-danger" id="@user.UserID" value="@user.UserName">Remove From Competition</button>
                    </td>
                </tr>
            }

        </table>
        <p id="jsonoutput"></p>
        <h2>Judge Field Assignments</h2>
        <table class="table table-hover">
            <tr style="font-size:20px">
                <th style="        background-color: #ffffff">
                    Username
                </th>
                <th style="background-color:#ffffff">
                    Role(s)
                </th>
                <th>
                    Add or Remove
                </th>
            </tr>

            @foreach (var user in Model.roleSpecificUsers.Where(u => u.Roles.Contains("Judge")).OrderBy(x => x.UserName))
            {

                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td id="@user.UserName" class="@user.UserName">
                        @{ int j = 0;}
                        @foreach (var role in user.Roles)
                        {
                            
                            if (role == "Field1")
                            {
                                j++;
                                <span style="color:black;padding:3px;border-radius:2px;border:2px solid red">Field 1</span>
                            }
                            else if (role == "Field2")
                            {
                                j++;
                                <span style="color: black;padding: 3px;border-radius: 2px;border: 2px solid blue">Field 2</span>
                            }
                            else if (role == "Field3")
                            {
                                j++;
                                <span style="color:black;padding:3px;border-radius:2px;border:2px solid green">Field 3</span>
                            }
                            else if (role == "Field4")
                            {
                                j++;
                                <span style="color:black;padding:3px;border-radius:2px;border:2px solid orange">Field 4</span>
                            }
                            else if (role == "Field5")
                            {
                                j++;
                                <span style="color:black;padding:3px;border-radius:2px;border:2px solid deeppink">Field 5</span>
                            }
                            else if (role == "Field6")
                            {
                                j++;
                                <span style="color:black;padding:3px;border-radius:2px;border:2px solid black">Field 6</span>
                            }
                            else if (role == "AllFields")
                            {
                                j++;
                                <span style="color:black;padding:3px;border-radius:2px;background-color:mediumspringgreen">All Fields</span>
                            }


                        }
                        @if (j == 0)
                        {
                            <span style="background-color:lightgray;color:black;padding:3px;border-radius:2px">No Assigned Fields</span>
                        }
                    </td>
                    <td>
                        <button type="button" class="field1a" id="@user.UserID" value="@user.UserName">Field 1</button>
                        <button type="button" class="field2a" id="@user.UserID" value="@user.UserName">Field 2</button>
                        <button type="button" class="field3a" id="@user.UserID" value="@user.UserName">Field 3</button>
                        <button type="button" class="field4a" id="@user.UserID" value="@user.UserName">Field 4</button>
                        <button type="button" class="field5a" id="@user.UserID" value="@user.UserName">Field 5</button>
                        <button type="button" class="field6a" id="@user.UserID" value="@user.UserName">Field 6</button>
                        <button type="button" class="fieldaa" style="background-color:mediumspringgreen" id="@user.UserID" value="@user.UserName">All Fields</button>
                    </td>
                </tr>
            }

        </table>

    </body>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }
    $(function () {
        // Reference the auto-generated proxy for the hub.
        var chat = new signalR.HubConnectionBuilder().withUrl("/scoreHub").build();
        var compid = 1;
        var listtoadd = [];
        var jsonclient = "";
        chat.on("reloadUsers", function (field, helping) {
            location.reload(true);
        });
        chat.on("returnedAccounts", function (json) {
            jsonclient = json;
            $("#generate").css("background-color", "green");
            $("#jsonoutput").html(json);
            download("robofestaccountinfo.csv", json);
        });
        chat.on("returnedAccountsFailed", function () {
            $("#generate").css("background-color", "red");
        });
        chat.start().then(function () {
            $("#addusers").click(function () {
                $("#adduserstocomp").css("display", "block");
            });
            $(".judge").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, compid+"-Judge", compid);
            });
            $(".manager").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, compid+"-Manager", compid);
            });
            $(".fieldstaff").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, compid+"-Field", compid);
            });
            $(".admin").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, compid+"-Admin", compid);
            });
            $(".tech").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, compid+"-Tech", compid);
            });
            $(".banned").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, "Locked", compid);
            });
            $(".field1a").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, "Field1", compid);
            });
            $(".field2a").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, "Field2", compid);
            });
            $(".field3a").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, "Field3", compid);
            });
            $(".field4a").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, "Field4", compid);
            });
            $(".field5a").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, "Field5", compid);
            });
            $(".field6a").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, "Field6", compid);
            });
            $(".fieldaa").click(function () {
                var username = $(this).val();
                chat.invoke("updateUserRoleAsync", username, "AllFields", compid);
            });
            $(".remove").click(function () {
                var username = $(this).val();
                chat.invoke("removeUserFromComp", username, compid);
            });
            $("#generate").click(function () {
                chat.invoke("generateUserAccounts", compid);
            });
            $("#addselectedusers").click(function () {
                $(".userselect:checked").each(function () {
                    listtoadd.push(this.id);
                });
                chat.invoke("addUsersToComp", listtoadd, compid);
            });

        });
    });

</script>